.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
  margin-right:250px;
  width:800px;
  background-image: linear-gradient(#fff1eb,#ace0f9);
}
.two{
  display:flex;
  flex-direction: row;
  margin-top: 15px;
}
input{
  border-radius: 30px;
  border-color:2px solid black;
  height:30px;
}
@media(min-width:576px){
  .three{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}